/* Add your CSS code here  */
:root {
  --background-color: #ffffff;
  --white: #ffffff;
  --graphite: #353535;
  --pale-slate: #d2d7df;
  --silver: #bdbbb0;
  --grey-olive: #8a897c;
  --circle-size: clamp(400px, 45vw, 700px);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--graphite);
  line-height: 1.6;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Navigation Styles */
.nav {
  background-color: var(--graphite);
  color: var(--white);
  z-index: 1;
}

.logo {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.logo-box {
  width: 40px;
  height: 40px;

  border: 2px solid #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.nav-list {
  margin: 0;
  padding: 1.5rem;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
}

.nav-link {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  color: var(--silver);
  transition: background 0.5s, color 0.5s;
}

.nav-link:hover {
  background-color: var(--silver);
  color: var(--graphite);
}

/* About Content */
.about-container {
  display: grid;
  width: min(90vw, 1200px); /* margin left and right, lots of white space on ultra wide monitors */
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
  margin: 0 auto;

  border: 3px solid red;
}

.about-image {
  position: relative;
  width: clamp(350px, 45vw, 700px);
  aspect-ratio: 1;
}

.accent-line {
  width: 120px;
  height: 4px;
  background: var(--grey-olive);
  border-radius: 999px;
  margin: 1rem 0;
}

.h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.h4 {
  font-size: 1.5em;
  color: var(--grey-olive);
  margin-bottom: 0;
}

.h5 {
  font-size: 1em;
  color: var(--grey-olive);
  margin: 0;
}

/* Main area style */

.font-inter {
  font-family: "Inter";
}

/* grey background circle */
.background-circle {
  position: absolute;

  width: var(--circle-size);
  aspect-ratio: 1;

  border-radius: 50%;
  background: var(--silver);

  top: -150px;
  left: -150px;

  z-index: -1;
}

.profile-circle {
  position: absolute;

  width: calc(var(--circle-size) * 0.65);
  aspect-ratio: 1;

  border-radius: 50%;
  overflow: hidden;

  border: 12px solid white;

  top: 100px;
  left: 180px;

  z-index: 1;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
